
/* 5-faded-logo.css
   Controls the faded Replace & Erase logo/title. */

.ghost-title {
  position: absolute;
  left: 50%;
  top: 40vh;
  transform: translate(-50%, -50%)
    rotate(-2deg) skewX(-10deg);

  font-size: 72px;
  font-weight: 900;
  line-height: .88;
  letter-spacing: -.06em;

  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  z-index: 0;
  text-transform: uppercase;
  filter: blur(.2px);
}

/* REPLACE — turquoise to blue */

.ghost-title div:first-child {
  margin-left: 0px;

  background: linear-gradient(
    90deg,
    #30B4B0 0%,
    #2F7EDB 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* & ERASE — cyan to blue */

.ghost-title div:last-child {
  margin-left: 50px;

  background: linear-gradient(
    90deg,
    #30B4D7 0%,
    #2F7BDB 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.center-title {
  display: none !important;
}
